:root {
    --primary-color: #264653; /* Charcoal */
    --secondary-color: #e9c46a; /* Safron */
    --accent1-color: #2A9D8F; /* Persian green */
    --accent2-color: #F4A261; /* Sandy brown */
    --heading-font: "Edu TAS Beginner", cursive; /* https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap */
    --heading-font-weight: 400 700;
    --text-font: "Oregano", cursive; /* https://fonts.googleapis.com/css2?family=Oregano&display=swap */
    --text-font-weight: 400;
}
/* https://coolors.co/264653-e9c46a-2a9d8f-f4a261 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 15px;
    border-radius: 8px;
    font-family: var(--text-font);
    color: var(--accent2-color);
}

                                          /* Header section */

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px 8px 0 0;
    margin-top: 15px;
    width: auto;
}

.logo {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-self: center;
}

header nav {
    display: flex;
    gap: 16px;
    margin-right: 100px;
}

header nav a {
    padding: 10px 20px;
    background-color: var(--accent1-color);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    display: inline-block;
    align-items: center;

}

body {
    font-family: var(--text-font);
    color: var(--accent2-color);
    line-height: 1.6;
    background-color: white;
}

                                            /* Hero section */

.hero {
    position: relative;
    min-height: 400px;
}

.hero img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.9;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.hero h1 {                               
    position: absolute;
    top: 5px;
    left: 30%;
    z-index: 1;
    width: fit-content;
    padding: 16px 24px;
    margin-top: 20px;
    text-align: center;
    color: white;
    opacity: 0.6;
    border-radius: 8px;
}

.hero-background {
    position: absolute;
    top: -60px;
    left: 50%;
    z-index: 1;
    background-color: var(--primary-color);
    color: var(--primary-color);
}


.hero article {
    position: absolute;
    top: 120px;
    text-align: right;
    background-color: var(--primary-color);
    padding: 16px;
    border-radius: 8px;
    opacity: 0.8;
}

.hero article p {
    color: white;
    font-family: var(--text-font);
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left;
}

.hero article img {
    float : right;
    position: relative;
    width: 120px;
    margin: 15px 15px;
    border-radius: 12px;
    
}

                                                /* History section */

.history-section {
    text-align: center;
    padding: 40px 0;
}


.history {
    text-align: center;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 840px;
    margin: 0 auto;
}

.history-section h2 {
    font-size: xx-large;
    font-weight: bold;
}

 .history-text {
    width: 30%;
    font-family: var(--text-font);
    font-weight: 500;
    font-size: larger;
    color: var(--primary-color);
    text-align: left;
}

.history img {
    width: 180px;
    height: auto;
    border-radius: 12px;
}

                                            /* Adventures section */

.adventure {
  width: 840px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  background-color: var(--accent1-color);
  border-radius: 8px;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.gallery figure {
  width: 150px;
  text-align: center;
}

.gallery img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
}

.gallery figcaption {
  margin-top: 4px;
  font-size: 1.2rem;
  color: white;
}

                                        /* Social media section */


footer {
    position: relative;
}

.copyright {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.socialmedia{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.socialmedia a {
    text-decoration: none;
    color: #000;
}

.socialmedia img {
    width: 32px;
    height: 32px;
    margin: 0 8px;
}

.contact {
    text-align: center;
    font-size: 0.9rem;
}

                                                        /* Contact info & map */


.contact-info {
    background-color: #f3f3f3;
    border-radius: 8px;
    padding: 24px;
    color: var(--accent2-color);
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
    margin-top: 16px;
}

.contact-text {
    flex: 1;
}

.contact-text p {
    font-size: 25px;
    margin: 0 0 8px 0;
}

.map {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.map iframe {
    margin-top: 0;
    width: 100%;
    max-width: 350px;
    height: 300px;
    border: none;
    border-radius: 8px;
}


                                            /* Employees section */

.employees {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.employees h2 {
    font-size: 50px;
    flex-wrap: wrap;
    margin-top: 150px;

}

.employees figure {
    width: 200px;
    text-align: center;
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 10px;
}

.employees img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 6px;
    border: 2px solid var(--primary-color);
}

.employees figcaption {
    margin-top: 8px;
    font-size: 30px;
    font-weight: bold;
    color: var(--secondary-color);
}

                                                /* Form section */

.form {
    background-color: var(--accent1-color);
    padding: 24px;
    border-radius: 8px;
    color: white;
}

.form h2 {
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

form label, form legend {
    font-weight: bold;
}

form input[type="text"], form input[type="email"], form textarea {
    padding: 8px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-family: var(--text-font);
    font-size: 1rem;
}

form textarea {
    min-height: 100px;
    resize: vertical;
}

form fieldset {
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #ffffffcc;
    color: var(--accent2-color);
}

form button {
    background-color: var(--secondary-color);
    color: white;
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #c3421f;
}
