:root {
    --primary-color: #33658A; /* Lapis Lazuli */
    --accent1-color: #2DE1C2; /* Turquoise */
    --secondary-color: #E4572E; /* Flame */
    --accent2-color: #4F5D2F; /* Dark Moss Green */
    --heading-font: "Edu TAS Beginner", cursive; /* https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap */
    --heading-font-weight: 400 700;
    --text-font: "Oregano", cursive; /* https://fonts.googleapis.com/css2?family=Oregano&display=swap */
    --text-font-weight: 400;
}
/* https://coolors.co/33658a-e4572e-2de1c2-4f5d2f-050505 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 15px;
    border-radius: 8px;
    font-family: var(--text-font);
    color: var(--accent2-color);
}

                                          /* Header section */

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px 8px 0 0;
    margin-top: 15px;
    width: auto;
}

.logo {
    width: 100px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-self: center;
}

header nav {
    display: flex;
    gap: 16px;
    margin-right: 100px;
}

header nav a {
    padding: 10px 20px;
    background-color: var(--accent1-color);
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    display: inline-block;
    align-items: center;

}

body {
    font-family: var(--text-font);
    color: var(--accent2-color);
    line-height: 1.6;
    background-color: white;
}

                                            /* Hero section */

.hero {
    position: relative;
    min-height: 400px;
}

.hero img {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 0.9;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.hero h1 {                               
    position: absolute;
    top: 5px;
    left: 30%;
    z-index: 1;
    width: fit-content;
    padding: 16px 24px;
    margin-top: 20px;
    text-align: center;
    color: white;
    opacity: 0.6;
    border-radius: 8px;
}

.hero-background {
    position: absolute;
    top: -60px;
    left: 50%;
    z-index: 1;
    background-color: var(--primary-color);
    color: var(--primary-color);
}


.hero article {
    position: absolute;
    top: 120px;
    text-align: right;
    background-color: var(--primary-color);
    padding: 16px;
    border-radius: 8px;
    opacity: 0.8;
}

.hero article p {
    color: white;
    font-family: var(--text-font);
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: left;
}

.hero article img {
    float : right;
    position: relative;
    width: 120px;
    margin: 15px 15px;
    border-radius: 12px;
    
}

                                                /* History section */

.history-section {
    text-align: center;
    padding: 40px 0;
}


 .history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 840px;
    margin: 0 auto;
 }

 .history-text {
    width: 30%;
    font-family: var(--text-font);
    color: var(--accent2-color);
    text-align: left;
}

.history img {
    width: 180px;
    height: auto;
    border-radius: 12px;
}

                                            /* Adventures section */

.adventure {
  width: 840px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  background-color: var(--accent1-color);
  border-radius: 8px;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

.gallery figure {
  width: 150px;
  text-align: center;
}

.gallery img {
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid var(--primary-color);
}

.gallery figcaption {
  margin-top: 4px;
  font-size: 1.2rem;
  color: white;
}

                                            /* Social media section */


footer {
    position: relative;
}

.copyright {
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.socialmedia{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    height: 32px;
    margin: 0 8px;
}

.contact {
    text-align: center;
    font-size: 0.9rem;
}