:root {
    --primary-color: #33658A; /* Lapis Lazuli */
    --secondary-color: #E4572E; /* Flame */
    --accent1-color: #2DE1C2; /* Turquoise */
    --accent2-color: #4F5D2F; /* Dark Moss Green */
    --black: #050505; /* Black */
    --heading-font: "Edu TAS Beginner", cursive; /* https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@400..700&display=swap */
    --text-font: "Oregano", cursive; /* https://fonts.googleapis.com/css2?family=Oregano&display=swap */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* https://coolors.co/33658a-e4572e-2de1c2-4f5d2f-050505 */


header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    padding: 20px;
    text-align: center;
}

header img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    float: left;
}

header nav {
    display: flex;
    justify-content: right;
    gap: 20px;
}

body {
    font-family: var(--text-font);
    color: var(--black);
    line-height: 1.6;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 15px;
    border-radius: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
    height: 32px;
    margin: 0 8px;
}

.hero {
    position: relative;
    min-height: 400px;
}

.hero img {
    display: block;
    position: absolute;
    width: 100%;
    height: auto;
}

.hero h1 {                               /* Hero title */
    position: relative;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.6;
    background-color: var(--secondary-color);
    color: var(--black);
}

.hero article {
    position: relative;
    top: 80px;
    text-align: right;
    background-color: var(--accent1-color);
    padding: 16px;
    border-radius: 8px;
    opacity: 0.7;

}

.hero article img {
    float : right;
    position: relative;
    width: 120px;
    margin: 4px 0;
    border-radius: 12px;
  
}

article p {
    font-size: 1.1em;
    line-height: 1.5;
    color: var(--black);
    margin: 8px 0;
    text-align: left;
    font-family: var(--text-font);
    position: relative;
    padding: 8px;
    
}

div {
    margin: 16px 0;
    position: relative;
}

section img {
    width: 500px;
    margin: 8px;
    border-radius: 12px;
}