*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

:root {
    --main-bg-color: lightblue;
    --text-color: darkblue;
}


nav {
    background-color: rgb(69, 69, 216);
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

h1 {
    color: var(--text-color);
    border-bottom: 5px solid var(--text-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 25em;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    border: 1px solid rgba(31, 17, 31, 0.5);
    background-color: lightgray;
    color: rgb(77, 77, 123);
}

aside h2 {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    position: absolute;
}   

aside img {
    width: 15em;
    text-align: center;
    position: relative;
    left: 1em;
}


/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}