nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

main img {
    max-width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 300px;
    margin: 30px;
    border: 1px solid rgba(31, 17, 31, 0.5);
    padding: 10px;
    background-color: lightgray;
    color: darkblue;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 10px;
    border-top: 5px solid rgb(19, 19, 25);
    text-align: center;

}