*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: lightblue;
    --text-color: darkblue;
}


nav {
    background-color: rgb(69, 69, 216);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--text-color);
}

main {
    max-width: fit-content;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 25em;
    margin: 30em;
    border: 1px solid rgba(31, 17, 31, 0.5);
    padding: 10px;
    background-color: lightgray;
    color: rgb(77, 77, 123);
    text-align: center;
}

aside h2 {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    position: relative;
}   

aside img {
    width: 20em;
    text-align: center;
    position: relative;
}

footer {
    margin-top: 10px;
    border-top: 5px solid rgb(19, 19, 25);
    text-align: center;

}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}